--index-url https://pypi.python.org/simple
findifftool==0.1.1
daltools==1.0.0
-e git+https://github.com/vahtras/qcaf.git@master#egg=qcifc
-e git+https://github.com/vahtras/two_electron.git@master#egg=two_electron
-e .

