--index-url https://pypi.python.org/simple
findifftool
-e git+https://github.com/vahtras/qcaf.git@master#egg=qcaf
-e git+https://github.com/vahtras/daltools.git@master#egg=daltools
-e git+https://github.com/vahtras/two_electron.git@master#egg=two_electron
-e git+https://github.com/vahtras/util.git@master#egg=util

